.mt30 {
    margin-top: 30px;
}

.mr10 {
    margin-right: 10px;
}

.ml0 {
    margin-left: 0 !important;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pr20 {
    padding-right: 20px;
}

.mxw300 {
    width: 300px;
}

.d-flex {
    display: flex;
}

.flex-jcc {
    justify-content: center;
}

.flex-aic {
    align-items: center;
}

.flex-ais {
    align-items:flex-start;
}

.flex-jcs {
    justify-content: flex-start !important;
}

.flex-jce {
    justify-content: end !important;
}

.dis-ib {
    display: inline-block;
}

.div-centered {
    margin: 0 auto;
}

@media only screen and (max-width: 568px) {
    .hide-sm {
        display: none;
    }

    .sm-mt10 {
        margin-top: 10px;
    }
}
