@{
    ViewData["Title"] = "Ürituse lisamine";
}

<div class="add-event-container">
    <div class="add-event-header">
        <div class="add-event">Ürituse lisamine</div>
        <div class="add-event-img"></div>
    </div>
    <div class="add-event-body mxw300" id="add-event"></div>
</div>

<script type="text/javascript" src="~/js/AddEvent.js"></script>
