@{
    ViewData["Title"] = "Osavõtja info";
}

<div class="content">
    <div class="content-header">
        <div class="content-title">Osavõtja info</div>
        <div class="content-img"></div>
    </div>
    <div class="content-vue" id="participant"></div>
</div>

<script type="text/javascript">
    let participant = @Html.Raw(@ViewBag.Participant);
</script>
<script type="text/javascript" src="~/js/Participant.js"></script>
